<div class="submit-feedback">
  <div class="container">
    <h3 class="text-center">Gửi nhận xét</h3>
    <form class="feedback-form" method="POST" action="">
      <div class="form-group">
        <label for="">NỘI DUNG NHẬN XÉT</label>
        <textarea class="form-control" rows="3" placeholder="Nhập nội dung nhận xét..." name="comment" required></textarea>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>