<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 footer">
      <h4>COFFEE FINDER</h4>
      <br>
      <p>ĐH Bách Khoa, Lý Thường kiệt</p>
      <p>TP.HCM </p>
      <p>090 6969 6969</p>
    </div>
  </div>
</div> 