@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:600&subset=vietnamese');
@import url('./css/bootstrap.min.css');
body {
	background-color: #f5f5f5;
	font-family: 'Source Sans Pro', sans-serif;
	color: #333;
}
a, a:hover, a:active {
	color: #333;
}
hr {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
	border: 0;
	width: 30%;
}
.centerbtn {
    text-align: center;
}
.borderimg { 
    border: 15px solid transparent;
    padding: 15px;
    padding-top: 30px;
    border-image-source: url('/Assets/images/frame.png');
    border-image-repeat: round;
    border-image-slice: 50;
    border-image-width: 30px;
}
.form-control, select.form-control {
	border-radius: 0px;
}
.btn-primary {
	background-color: #333;
	color: #fff;
	text-transform: uppercase;
	border-radius: 0px;
	border-color: #fff;
}
.btn-primary:hover {
	background-color: rgb(36, 36, 36);
	color: #fff;
	text-transform: uppercase;
	border-radius: 0px;
	border-color: #fff;
}
.btn-secondary {
	background-color: #fff;
	color: #333;
	text-transform: uppercase;
	border-radius: 0px;
	border-color: #333;
}
.btn-secondary:hover {
	background-color: rgb(36, 36, 36);
	color: #fff;
	text-transform: uppercase;
	border-radius: 0px;
	border-color: #fff;
}
.img-overlay {
	position:absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: right;
}
.thumbnail {
	min-height: 200px;
	border-radius: 0px;
	border: none;
}
.navbar {
	background-color: #fff;
	border: 0;
}
.navbar-header {
	background-color: #fff;
	opacity: 0.9;
}
.navbar li a,
.navbar .navbar-brand {
	color: #333;
}
.nav-menu {
	text-transform: uppercase;
}
.navbar-brand {
	font-size: 1.8em;
}
.navbar-nav li a:hover {
	color: #333 !important;
}
.inner-wrapper {
	display: table-cell;
	vertical-align: middle;
	padding: 15px;
}
.header-search {
	position: absolute;
	top: 40%;
	left: 50%;
	width: 60%;
	transform: translateX(-50%);
	line-height: 20px;
}
.header-search h2 {
	color: #fff;
	text-transform: uppercase;
}
.header-search span.hightligh {
	/* background-color: #333; */
}
.header-search .row>div {
	padding-top: 20px;
}
.cf-box {
	position: relative;
}
.cf-box img {
	filter: brightness(50%);
	width: 100%;
	height: 100%;
	transition: filter 0.6s ease;
}
.cf-box:hover img {
	filter: brightness(80%);
}
.cf-box .detail {
	position: absolute;
	bottom: 20px;
	left: 0px;
	width: 100%;
}
a.cf-name {
	color: #000000;
	font-weight: bold;
	background-color: #fff;
	padding: 5px 10px;
	line-height: 30px;
	font-size: 1.2em;
}
.cf-box p.address {
	font-size: small;
	color: rgb(218, 218, 218);
	padding-left: 10px;
	
}
.sidebar {
	background-color: #a6a6a6;
	border-radius: 0;
	color: #fff;
	width: 100px;
}
.sidebar:hover {
	background-color: #c3c3c3;
	color: #fff;
}
.footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 40px 0px 20px 0px;
}
.carousel-inner {
	width: 100%;
	height: 500px;
}
.carousel-inner img {
	width: 100%;
	filter: brightness(40%);
}


.shop-info {
	height: 400px;
	position: relative;
	
	background-size: cover;
}

.shop-info .shop-detail {
	position: absolute;
	bottom: 50px;
	right: 50px;
	border-left: 6px solid #333;
	padding-left: 12px;
	background-color: #fff;
	opacity: 0.8;
}
.navbar-toggle .icon-bar{ 
	background-color: #333;
}
.menu {
	padding: 40px 0px;
}
.items {
	margin: 0 auto;
	width: 80%;
}
.items .line {
	padding: 5px 0px;
	border-bottom: 1px dashed #a6a6a6;
}
.items .line p {
	margin: 0px;
	padding: 0px;
}
.carousel-feedback-inner {
	padding-bottom: 50px;
	height: 100%;
}
.carousel-feedback-inner .feedback {
	padding: 10px 10%;
}
.submit-feedback {
	background-color: #333;
	padding: 20px 0;
}
.about-us {
	height: 400px;
	position: relative;
	background-image: url('/Assets/images/slide-1.png');
	background-size: cover;	
}
.member {

}
.member img {
	display: block;
	margin: 0 auto;
}
.member h4 {
	text-align: center;
}

.gg-map {
	width: 100%;
	height: 600px;
	border:0px;
}

.text-center {
	text-align: center;
}
.submit-feedback h3 {
	color: #fff;
	text-transform: uppercase;
}
.feedback-form {
	max-width: 600px;
	margin: 0 auto;
}
#carousel-feedback .carousel-indicators .active {
	background-color: #333;
}
#carousel-feedback .carousel-indicators li {
	border-color: #333;
}

.trends-list {
	padding: 40px 0px;
}
.trends-info {
	height: 400px;
	position: relative;
	background-image: url('/Assets/images/slide-3.jpg');
	filter: grayscale(0.4);
	background-size: cover;
}
.trends-detail {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translateX(-50%);
	line-height: 20px;
}
.trends-detail h1 {
	color: #fff;
}
.trend-item {
	padding: 13px 0px;
}
.trend-item p.name {
	font-size: 1.3em;
	text-transform: uppercase;
}
.trend-item p.info span:last-child {
	padding-left: 8px;
}
.trend-item>div:first-child {
	display: flex;
	justify-content: flex-end;
}
.trend-item .rank {
	background-color: #333;
	border-radius: 100%;
	height: 50px;
	width: 50px;
	color: #fff;
	font-size: 25px;
	line-height: 50px;
	text-align: center;
}
.rank.low {
	color: #333;
	background-color: #fff;
	border: 2px solid #333;
}

.promotion-info {
	height: 400px;
	position: relative;
	background-image: url('/Assets/images/slide-1.png');
	filter: grayscale(0.4);
	background-size: cover;
}
.promotion-detail {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translateX(-50%);
	line-height: 20px;
}
.promotion-list {
	padding: 40px 0px;
}
.promotion-detail h1 {
	color: #fff;
}

.promo-item .photo img {
	width: 100%;
	height: 100%;
}

.search-info {
	height: 400px;
	position: relative;
	background-image: url('./images/slide-1.png');
	filter: grayscale(0.4);
	background-size: cover;
}

.search-detail {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translateX(-50%);
	line-height: 20px;
}

.search-detail h1 {
	color: #fff;
}

.search-list {
	padding: 40px 0px;
}

.search-header {
	padding-left: 100px;
}

.glyphicon-star-empty {
	font-size: 30px;
	color: yellow;
}

.glyphicon-star {
	font-size: 30px;
	color: yellow;
}

.button-edit {
	position: absolute;
	bottom: 0;
	right: 0;
}
.bar-item {
	color: #000;
}